{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion Gérant - Back Office</title>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>
<body>
    <div class="login-container">
        <h1>Connexion Gérant</h1>
        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
        <form method="post" action="{% url 'login_gerant' %}">
            {% csrf_token %}
            <label for="username">Nom d'utilisateur :</label>
            <input type="text" name="username" required>

            <label for="password">Mot de passe :</label>
            <input type="password" name="password" required>

            <button type="submit">Se connecter</button>
        </form>
    </div>
</body>
</html>
